*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/documentai/build/
/gemmaimage/build/
/semanticsearch/build/documentai/src/main/assets/document_ai/paddleocr_distil_old_bundle/distilbert/model.onnx
*.onnx
documentai/src/main/assets/document_ai/paddleocr_distil_old_bundle/
*.onnx
documentai/src/main/assets/document_ai/paddleocr_distil_old_bundle/
*.onnx
